*{
    margin: 0;
    padding: 0;
}

:root {
    --green: rgb(46, 184, 64);
    --white: azure;
  }

body{
    background: rgb(53, 53, 53);
    font-family: 'Poppins', sans-serif;
}

section{
    width: 100%;
    height: 300px;   
}

.container{
    width: 350px;
    height: 100%;
    margin-top: 100px;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px solid var(--green);
    border-radius: 10px;
}

.container h1{  
    width: 90%;        
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: -15px;
}

.container h2{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    font-size: 60px;
}

.input{
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid var(--green);
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.input:first-child{
    margin-top: 50px;
}

.adicionar{
    width: 28%;
    height: 55px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    color: var(--white);
    background: var(--green);
}

#sortear{
    width: 80%;
    margin-top: 40px;
    border-radius: 5px;
    height: 20%;
    background: var(--green);
    color: var(--white);
    font-size: 28px;
}

.mensagem{
    width: 300px;
    margin-top: 20px;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mensagem h1{
    color: var(--white);
    font-size: 30px;
}